.card-layout {
  padding: 5vw;
  background-color: #00b9f6;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  width: 400px;
}

.ant-carousel .slick-slide {
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.loginUser {
  margin-top: 13px;
  font-weight: 700;
}

.product-card-layout {
  padding: 3vw;
}

.flex-row-strech {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.img-thumbnail {
  padding: 2vw;
}

.menu-icon {
  margin-left: 20px;
}

@media only screen and (max-width: 599px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}
@media only screen and (min-width: 600px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: none;
  }
}
